p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
h5{
  color: red;
}
#a{
  background-color: yellow;
}

#binom{
  color: #7CB9E8;
}

.blue-background {
    background-color: #cce5ff;  /* Light blue background */
    padding: 10px;
    border-radius: 5px;
}